/* .item{
   box-sizing: border-box;
   margin: 5%;
} */
.carousel-div{
    height: auto;
    width: auto;
}

.carousel-div img {
    max-height:90%;
    width: 90%;
    margin: 10px;
    border-radius: 5%;
    border-style: solid;
    border-color:green;
    border-width: 1px;
}

.carousel-caption {
    background-color: rgba(242, 4, 4, 0.214);
    color: white;
    font-style: italic;
    text-shadow: 1px 1px black;
    border-style: solid;
    border-color: green;
    border-width: 1px;
    border-radius: 10px;
    margin-bottom: 25%;
}

h3 {
    font-size: xx-large;
}